<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuesBuddy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SingupM</display-name>
    <servlet-name>SingupM</servlet-name>
    <servlet-class>controller.SingupM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingupM</servlet-name>
    <url-pattern>/SingupM</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listner.ConnectDBServer</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginM</display-name>
    <servlet-name>LoginM</servlet-name>
    <servlet-class>com.controller.LoginM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginM</servlet-name>
    <url-pattern>/LoginM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutM</display-name>
    <servlet-name>LogoutM</servlet-name>
    <servlet-class>com.controller.LogoutM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutM</servlet-name>
    <url-pattern>/LogoutM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAQuestionMainFilter</display-name>
    <servlet-name>AskAQuestionMainFilter</servlet-name>
    <servlet-class>com.filter.AskAQuestionMainFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAQuestionMainFilter</servlet-name>
    <url-pattern>/AskAQuestionMainFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAQuestionMainServlet</display-name>
    <servlet-name>AskAQuestionMainServlet</servlet-name>
    <servlet-class>com.controller.AskAQuestionMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAQuestionMainServlet</servlet-name>
    <url-pattern>/AskAQuestionMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowParticularQuestionServlet</display-name>
    <servlet-name>ShowParticularQuestionServlet</servlet-name>
    <servlet-class>com.controller.ShowParticularQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParticularQuestionServlet</servlet-name>
    <url-pattern>/ShowParticularQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticularUserAnsAddServlet</display-name>
    <servlet-name>ParticularUserAnsAddServlet</servlet-name>
    <servlet-class>com.controller.ParticularUserAnsAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticularUserAnsAddServlet</servlet-name>
    <url-pattern>/ParticularUserAnsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profileservlet</display-name>
    <servlet-name>Profileservlet</servlet-name>
    <servlet-class>com.controller.Profileservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profileservlet</servlet-name>
    <url-pattern>/Profileservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>com.controller.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentCheckServlet</display-name>
    <servlet-name>PaymentCheckServlet</servlet-name>
    <servlet-class>com.controller.PaymentCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentCheckServlet</servlet-name>
    <url-pattern>/PaymentCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordM</display-name>
    <servlet-name>ForgetPasswordM</servlet-name>
    <servlet-class>com.controller.ForgetPasswordM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordM</servlet-name>
    <url-pattern>/ForgetPasswordM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpVerify</display-name>
    <servlet-name>OtpVerify</servlet-name>
    <servlet-class>com.controller.OtpVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpVerify</servlet-name>
    <url-pattern>/OtpVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordM</display-name>
    <servlet-name>ChangePasswordM</servlet-name>
    <servlet-class>com.controller.ChangePasswordM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordM</servlet-name>
    <url-pattern>/ChangePasswordM</url-pattern>
  </servlet-mapping>
</web-app>